[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.8"

[packages]
hydra-core = "*"
torch = "*"
pytorch-lightning = "*"
torchvision = "*"
matplotlib = "*"

[packages.high_order_layers_torch]
git = "git://github.com/jloveric/high-order-layers-torch"
editable = true
ref = "master"
